
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

table th {
    background-color: #0077b6;
    color: white;
    font-weight: 500;
}
.program-table-container
.program-table {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 20px;
}

.program-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.program-table th,
.program-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.program-table th {
    color: black;
    font-weight: 500;
}
